body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-image: url('../img/fondo.jpg');

  }
  
  .game-container {
    position: relative;
    width: 100vw;
    height: 90vh;
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  canvas {
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .score-container {
    position: absolute;
    top: 10px;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  .controls {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 20px;
  }
  
  button {
    width: 60px;
    height: 60px;
    font-size:40px;
    border: none;
    border-radius: 10px;
    background-color:#ff6b6b;
    color: white;
    cursor: pointer;
  }
  
  button:active {
    background-color: rgba(255, 255, 255, 0.5);
  }
  